body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100vw;
    height: 100vh;
}

.box{
    position: fixed;
    width: 100px;
    height: 100px;
    border: 1px solid #f00;
    text-align: center;
    line-height: 100px;
}